:root {
    --branco-principal: #FFFFFF;/*#*/
    --cinza-secundario: #C0C0C0;/*#*/
    --botao-azul: #167BF7;/*#*/
    --cor-de-fundo: #00030C;/*#*/
    --fonte-principal: 'Inter';/*#*/
    --botao-azul-efeito: #3c92fa;/*#*/
}

body {
    background-color: var(--cor-de-fundo);/*#cor de fundo*/
    color: var(--branco-principal);/*#cor de fonte*/
    font-family: var(--fonte-principal);/*#tipo de fonte*/
    font-size: 16px;/*#tamanho da fonte*/
    font-weight: 400;/*#intensidade da fonte*/
}

* {#seletor universal
    margin: 0;/*#tamanho da margem*/ 
    padding: 0;/*#espaçamento interno*/
}

.principal {
    background-image: url("Background.png");/*#imagem como plano de fundo*/
    background-repeat: no-repeat;/*#imagem repetir apenas uma vez*/
    background-size: contain;/*#tamanho do plano de fundo*/
    align-items: center;/*#alinhamento de elementos*/
    text-align: center;/*#alinhamento de textos*/
}

.container {
    height: 100vh;/*#altura*/
    display: grid;/*#organiza os elementos*/
    grid-template-columns: 50% 50%;/*#duas colunas de 50%*/
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;/*#cantos arrendondados*/
    padding: 1em;/*#espaçamento interno*/
    color: var(--branco-principal);/*#cor de fonte*/
    display: block;/*#como o elemento vai ser diposto*/
    text-decoration: none;/*#reseta decoração do texto*/
    margin-bottom: 1em;/*#margem inferior*/
}

.botao_secundario {
    background-color: transparent var(--cor-de-fundo);/*#cor de fundo*/
    border: 2px solid var(--branco-principal);/*#*/
}

.container__aviso {
    font-size: 12px;/*#tamanho da fonte*/
    color: var(--cinza-secundario);/*#cor de fonte*/
}

.container__titulo {
    font-size: 28px;/*#tamanho da fonte*/
    font-weight: 700;/*#intensidade da fonte*/
}

.container__imagem {
    margin: 1em 0 2em 0;/*#tamanho da margem*/ 
}

.container__caixa {
    margin: 0 6em;/*#tamanho da margem*/ 
}

.secundario__imagem {
    width: 80%;/*#*/
}

.secundario {
    align-items: center;/*#alinhamento de elementos*/
    margin: 0 10em;/*#tamanho da margem*/ 
}

.descricao__titulo {
    font-weight: 700;/*#intensidade da fonte*/
    font-size: 48px;/*#tamanho da fonte*/
    color: var(--branco-principal);/*#cor de fonte*/
    margin-bottom: 0.1em;/*#margem inferior*/
}

.descricao__texto {
    color: var(--cinza-secundario);/*#cor de fonte*/
}

.secundario__botao {
    display: inline-block;/*#como o elemento vai ser diposto*/
    margin-top: 1em;/*#margem superior*/
}

.container__descricao {
    padding: 2em;/*#espaçamento interno*/
}

.dispositivos__lista {
    display: flex;/*#como o elemento vai ser diposto*/
    justify-content: center;/*#*/
    list-style-type: none;/*#*/
    margin: 5em 0;/*#tamanho da margem*/ 
}

.dispositivos {
    text-align: center;/*#alinhamento de textos*/
}


.dispositivos__titulo {
    font-size: 48px;/*#tamanho da fonte*/
    color: var(--branco-principal);/*#cor de fonte*/
}

.lista__item {
    font-size: 32px;/*#tamanho da fonte*/
    color: var(--branco-principal);/*#cor de fonte*/
}

.rodape {
    text-align: center; /*#alinhamento de textos*/
    margin: 5em 3em;/*#tamanho da margem*/ 
}

.rodape__lista {
    display: flex;/*#como o elemento vai ser diposto*/
    justify-content: center;/*#*/
    list-style-type: none;/*#*/
    margin-top: 1em;/*#margem superior*/
}

.lista__link a{
    text-decoration: none;/**/
    color: var(--branco-principal);/*#cor de fonte*/
    margin-left: 1em;/*#margem esquerda*/
}

.rodape__texto {
    margin: 1em 0;/*#tamanho da margem*/ 
    color: var(--cinza-secundario);/*#cor de fonte*/
    font-size: 14px;/*#tamanho da fonte*/
}

.lista__link a:hover {
    color: var(--botao-azul);/*#cor de fonte*/
}

.lista__link a:active {
    color: purple;/*#cor de fonte*/
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);/*#cor de fundo*/
    color: var(--cor-de-fundo);/*#cor de fonte*/
}
